TOKEN="placeholder"
GROQ_API_KEY="placeholder"
OWNER_ID="1136337246631497849"

delete these next lines and replace the placeholders (duh) with your own values
token is your discord account token - unless u dont really care about getting banned, use an alt
you can get a groq api key from https://groq.com/ - i signed up using github, but u can use whatever
owner_id is your discord user id - get it from discord by right clicking your profile and tapping "copy user id" (need developer mode enabled, in settings under the "advanced" tab)
